<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default" id="container">
      <div class="panel-body">

        <div class="title text-center">Your document was sucessfully uploaded.</div>
        <div class="title text-center">You will be able to download it very shortly.</div>

      </div>
    </div>
  </div>
</div>