/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.


 *= require bootstrap
 *= require_tree .
 *= require_self
 */

html, body {
  background-color: #F1F0FF;
  position: relative;
  height: 100%;
  font-family: 'Droid Sans', sans-serif;
}

body {
  color: #BBB;
}

nav {
  color: white;
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.5)
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  line-height: 30px;
  color: white;
  font-size: 16px;
}

footer p {
  font-size: 14px;
  padding-bottom: 0px;
}

footer {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
}

.link {
  font-size: 28px;
  color: #1C1D63;
}

.link:hover {
  color: white;
}





